@import "tailwindcss";

@theme inline {
  --color-surface-dim: #d8dbd7;
  --color-outline: #797b78;
  --color-on-error-container: #742410;
  --color-surface-container-high: #e8e8e5;
  --color-surface: #fbf9f7;
  --color-surface-bright: #fbf9f7;
  --color-inverse-primary: #ffffff;
  --color-secondary-fixed-dim: #ffca98;
  --color-secondary-dim: #704b23;
  --color-surface-container-highest: #e1e3df;
  --color-on-tertiary-container: #614a4d;
  --color-on-secondary-fixed: #5a3811;
  --color-surface-container-low: #f4f3f1;
  --color-error-container: #fe8b70;
  --color-on-primary-container: #525151;
  --color-on-primary-fixed-variant: #5c5b5b;
  --color-on-background: #303331;
  --color-tertiary-fixed-dim: #e9cacd;
  --color-on-primary-fixed: #403f3f;
  --color-on-surface: #303331;
  --color-outline-variant: #b0b2af;
  --color-primary: #5f5e5e;
  --color-background: #fbf9f7;
  --color-primary-fixed-dim: #d6d4d3;
  --color-tertiary-dim: #644d50;
  --color-on-surface-variant: #5d605d;
  --color-secondary-container: #ffdcbd;
  --color-on-tertiary: #fff7f7;
  --color-tertiary: #71595c;
  --color-surface-variant: #e1e3df;
  --color-tertiary-fixed: #f8d8db;
  --color-inverse-on-surface: #9d9d9b;
  --color-inverse-surface: #0d0e0e;
  --color-primary-fixed: #e5e2e1;
  --color-error-dim: #5c1202;
  --color-secondary-fixed: #ffdcbd;
  --color-on-primary: #faf7f6;
  --color-primary-dim: #535252;
  --color-on-error: #fff7f6;
  --color-on-tertiary-fixed-variant: #6b5457;
  --color-on-tertiary-fixed: #4d383b;
  --color-on-secondary-fixed-variant: #7a532a;
  --color-error: #9e422c;
  --color-secondary: #7e572e;
  --color-surface-tint: #5f5e5e;
  --color-on-secondary: #fff7f4;
  --color-surface-container: #eeeeeb;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-container: #f8d8db;
  --color-on-secondary-container: #6f4a22;
  --color-primary-container: #e5e2e1;
  
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.product-card:hover .quick-shop-overlay {
    opacity: 1;
    transform: translateY(0);
}
.product-card .quick-shop-overlay {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e1e3df;
    border-radius: 10px;
}
