@import "tailwindcss";

@theme inline {
  --color-surface-dim: #DEDCD7;
  --color-outline: #797b78;
  --color-surface-container-high: #E8E6E1;
  --color-surface: #FAF9F6;
  --color-surface-bright: #FAF9F6;
  --color-surface-container-highest: #DEDCD7;
  --color-surface-container-low: #F4F2EE;
  --color-on-background: #1A1A1A;
  --color-on-surface: #1A1A1A;
  --color-outline-variant: #DEDCD7;
  --color-primary: #1A1A1A;
  --color-background: #FAF9F6;
  --color-on-surface-variant: #4A4A4A;
  --color-secondary-container: #E8E6E1;
  --color-tertiary: #71595c;
  --color-surface-variant: #E8E6E1;
  --color-on-primary: #FAF9F6;
  --color-secondary: #7e572e;
  --color-on-secondary: #fff7f4;
  --color-surface-container: #F4F2EE;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #1A1A1A;
  --color-primary-container: #E8E6E1;

  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.product-card:hover .quick-shop-overlay {
    opacity: 1;
    transform: translateY(0);
}
.product-card .quick-shop-overlay {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e1e3df;
    border-radius: 10px;
}
